<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="carNewCar" class="com.fis.app.model.Car">
		<constructor-arg  value="Honda-Car" name="carName"></constructor-arg>
		<constructor-arg  value="123" name="carNumber"></constructor-arg>
	</bean>

<!--  other scope is singleton -->
	<bean id="carNewCar2" class="com.fis.app.model.Car" autowire="byType" 
	          init-method="doInIt" destroy-method="doDestroy" scope="prototype">  
	          
		<property name="carName" value="Creta"></property>
		<property name="carNumber" value="245"></property>
	</bean>
	
	<bean id="eee" class="com.fis.app.model.Engine">
		<property name="engineName" value="TataEngine"></property>
		<property name="power" value="1200"></property>
	</bean>
	
	<bean id="mssss" class="com.fis.app.model.MusicSystem">
		<property name = "name" value="Poineer"/>
	</bean>
	
	<bean id = "sea" class="com.fis.app.model.Seat">
		<property name = "se" value="4" />
	</bean>
	
</beans>